<a href="https://colab.research.google.com/github/keshorerode/Machine_Learning_colab/blob/main/ex2_Data_Manipulation_using_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd

# Load Dataset
dframe = pd.read_csv('Data.csv')  # Corrected quotes
print("Original DataFrame:")
print(dframe)

# Filling missing data with mean
dframe.fillna(value=dframe.mean(numeric_only=True), inplace=True)  # Avoids warnings for non-numeric columns
print("DataFrame after filling missing values:")
print(dframe)

# Dropping remaining missing data (if any non-numeric columns have NaNs)
dframe.dropna(inplace=True)
print("DataFrame after dropping remaining NaNs:")
print(dframe)

Original DataFrame:
      Startup_ID           Name      Sector Sub-Sector       City  \
0       a713cd4f      Startup_0      Retail      Sub_2       Pune
1       b75f6987      Startup_1      EdTech      Sub_2       Pune
2       d5ba7ec2      Startup_2    AgriTech      Sub_7    Chennai
3       5190a643      Startup_3  HealthTech      Sub_8     Mumbai
4       a6801a40      Startup_4  HealthTech      Sub_6  Bangalore
...          ...            ...         ...        ...        ...
12423   0f13d364  Startup_12423  HealthTech     Sub_10       Pune
12424   377d998c  Startup_12424      EdTech      Sub_2     Mumbai
12425   be50b852  Startup_12425      EdTech      Sub_9       Pune
12426   574ecf87  Startup_12426  HealthTech      Sub_1       Pune
12427   1d0384ad  Startup_12427      Retail      Sub_9      Delhi

             State  Founded_Year Founder_Name Funding_Stage   Investment_Type  \
0      Maharashtra          2022  Founder_356      Series D             Grant
1        Karnataka          2019   Founder_93           IPO  Convertible Note
2       Tamil Nadu          2010  Founder_951      Series A             Grant
3        Telangana          2007  Founder_538           IPO              Debt
4      Maharashtra          2019   Founder_69          Seed             Grant
...            ...           ...          ...           ...               ...
12423    Telangana          2016  Founder_203      Series D  Convertible Note
12424   Tamil Nadu          2017  Founder_622      Series C            Equity
12425        Delhi          2014  Founder_214      Series A            Equity
12426        Delhi          2012  Founder_810          Seed             Grant
12427    Karnataka          2016  Founder_999      Series C             Grant

       ...  Exit_Status  Acquisition_Details Funding_Date  \
0      ...           No                  NaN   2023-07-08
1      ...          Yes         Acquirer_185   2017-01-02
2      ...          Yes                  NaN   2022-06-20
3      ...          Yes                  NaN   2021-01-11
4      ...           No                  NaN   2015-07-22
...    ...          ...                  ...          ...
12423  ...           No                  NaN   2020-02-04
12424  ...          Yes                  NaN   2017-08-03
12425  ...           No                  NaN   2015-08-28
12426  ...           No                  NaN   2018-02-05
12427  ...          Yes                  NaN   2023-01-01

                          Pitch_Deck_Link  Social_Media_Followers  \
0          http://example.com/pitchdeck/0                   27648
1          http://example.com/pitchdeck/1                   89143
2          http://example.com/pitchdeck/2                   62445
3          http://example.com/pitchdeck/3                   30184
4          http://example.com/pitchdeck/4                   56494
...                                   ...                     ...
12423  http://example.com/pitchdeck/12423                   10455
12424  http://example.com/pitchdeck/12424                   99554
12425  http://example.com/pitchdeck/12425                   44862
12426  http://example.com/pitchdeck/12426                   40025
12427  http://example.com/pitchdeck/12427                   34878

         Competitors Patents  ESG_Score Diversity_Index Net_Impact_Score
0      Competitor_88      11       5.32           39.33             4.71
1      Competitor_66      17       2.50           43.19             5.03
2      Competitor_93       4       5.13           36.11             5.71
3      Competitor_31      13       9.14           31.38             9.29
4      Competitor_27       0       8.10           78.20             1.12
...              ...     ...        ...             ...              ...
12423  Competitor_54       5       8.97           70.62             6.43
12424  Competitor_89       7       1.66           71.28             2.64
12425  Competitor_50      17       7.33           53.79             7.49
12426  Competitor_54      20       8.34           32.86             8.05
12427  Competitor_21       4       9.94           66.71             9.57

[12428 rows x 32 columns]
DataFrame after filling missing values:
      Startup_ID           Name      Sector Sub-Sector       City  \
0       a713cd4f      Startup_0      Retail      Sub_2       Pune
1       b75f6987      Startup_1      EdTech      Sub_2       Pune
2       d5ba7ec2      Startup_2    AgriTech      Sub_7    Chennai
3       5190a643      Startup_3  HealthTech      Sub_8     Mumbai
4       a6801a40      Startup_4  HealthTech      Sub_6  Bangalore
...          ...            ...         ...        ...        ...
12423   0f13d364  Startup_12423  HealthTech     Sub_10       Pune
12424   377d998c  Startup_12424      EdTech      Sub_2     Mumbai
12425   be50b852  Startup_12425      EdTech      Sub_9       Pune
12426   574ecf87  Startup_12426  HealthTech      Sub_1       Pune
12427   1d0384ad  Startup_12427      Retail      Sub_9      Delhi

             State  Founded_Year Founder_Name Funding_Stage   Investment_Type  \
0      Maharashtra          2022  Founder_356      Series D             Grant
1        Karnataka          2019   Founder_93           IPO  Convertible Note
2       Tamil Nadu          2010  Founder_951      Series A             Grant
3        Telangana          2007  Founder_538           IPO              Debt
4      Maharashtra          2019   Founder_69          Seed             Grant
...            ...           ...          ...           ...               ...
12423    Telangana          2016  Founder_203      Series D  Convertible Note
12424   Tamil Nadu          2017  Founder_622      Series C            Equity
12425        Delhi          2014  Founder_214      Series A            Equity
12426        Delhi          2012  Founder_810          Seed             Grant
12427    Karnataka          2016  Founder_999      Series C             Grant

       ...  Exit_Status  Acquisition_Details Funding_Date  \
0      ...           No                  NaN   2023-07-08
1      ...          Yes         Acquirer_185   2017-01-02
2      ...          Yes                  NaN   2022-06-20
3      ...          Yes                  NaN   2021-01-11
4      ...           No                  NaN   2015-07-22
...    ...          ...                  ...          ...
12423  ...           No                  NaN   2020-02-04
12424  ...          Yes                  NaN   2017-08-03
12425  ...           No                  NaN   2015-08-28
12426  ...           No                  NaN   2018-02-05
12427  ...          Yes                  NaN   2023-01-01

                          Pitch_Deck_Link  Social_Media_Followers  \
0          http://example.com/pitchdeck/0                   27648
1          http://example.com/pitchdeck/1                   89143
2          http://example.com/pitchdeck/2                   62445
3          http://example.com/pitchdeck/3                   30184
4          http://example.com/pitchdeck/4                   56494
...                                   ...                     ...
12423  http://example.com/pitchdeck/12423                   10455
12424  http://example.com/pitchdeck/12424                   99554
12425  http://example.com/pitchdeck/12425                   44862
12426  http://example.com/pitchdeck/12426                   40025
12427  http://example.com/pitchdeck/12427                   34878

         Competitors Patents  ESG_Score Diversity_Index Net_Impact_Score
0      Competitor_88      11       5.32           39.33             4.71
1      Competitor_66      17       2.50           43.19             5.03
2      Competitor_93       4       5.13           36.11             5.71
3      Competitor_31      13       9.14           31.38             9.29
4      Competitor_27       0       8.10           78.20             1.12
...              ...     ...        ...             ...              ...
12423  Competitor_54       5       8.97           70.62             6.43
12424  Competitor_89       7       1.66           71.28             2.64
12425  Competitor_50      17       7.33           53.79             7.49
12426  Competitor_54      20       8.34           32.86             8.05
12427  Competitor_21       4       9.94           66.71             9.57

[12428 rows x 32 columns]
DataFrame after dropping remaining NaNs:
      Startup_ID           Name      Sector Sub-Sector       City  \
1       b75f6987      Startup_1      EdTech      Sub_2       Pune
6       e745a938      Startup_6    FoodTech      Sub_4  Bangalore
8       7eda3996      Startup_8      Retail      Sub_2  Bangalore
20      75102048     Startup_20    FoodTech      Sub_9  Hyderabad
32      758ded93     Startup_32      EdTech      Sub_5    Chennai
...          ...            ...         ...        ...        ...
12379   f35c45e2  Startup_12379    FoodTech      Sub_9       Pune
12381   386c4f6f  Startup_12381  TravelTech      Sub_8  Hyderabad
12405   71e046cf  Startup_12405      Retail      Sub_5       Pune
12406   f0d081df  Startup_12406  TravelTech      Sub_8      Delhi
12409   2c31cf79  Startup_12409    AgriTech      Sub_4      Delhi

             State  Founded_Year Founder_Name Funding_Stage   Investment_Type  \
1        Karnataka          2019   Founder_93           IPO  Convertible Note
6            Delhi          2018  Founder_399          Seed              Debt
8      Maharashtra          2008  Founder_875          Seed  Convertible Note
20     Maharashtra          2004  Founder_197      Series B            Equity
32      Tamil Nadu          2015   Founder_44      Series C             Grant
...            ...           ...          ...           ...               ...
12379   Tamil Nadu          2022  Founder_437      Series D  Convertible Note
12381        Delhi          2013  Founder_347      Series B              Debt
12405        Delhi          2021  Founder_596      Series A              Debt
12406        Delhi          2007  Founder_383      Series D            Equity
12409   Tamil Nadu          2013  Founder_986      Series D  Convertible Note

       ...  Exit_Status  Acquisition_Details Funding_Date  \
1      ...          Yes         Acquirer_185   2017-01-02
6      ...          Yes         Acquirer_415   2017-02-18
8      ...          Yes         Acquirer_847   2018-05-25
20     ...          Yes         Acquirer_511   2018-04-13
32     ...           No         Acquirer_212   2019-06-06
...    ...          ...                  ...          ...
12379  ...           No         Acquirer_548   2019-07-25
12381  ...           No         Acquirer_918   2019-01-12
12405  ...          Yes         Acquirer_221   2015-03-13
12406  ...          Yes         Acquirer_933   2019-07-01
12409  ...           No         Acquirer_286   2023-02-25

                          Pitch_Deck_Link  Social_Media_Followers  \
1          http://example.com/pitchdeck/1                   89143
6          http://example.com/pitchdeck/6                    5660
8          http://example.com/pitchdeck/8                   90686
20        http://example.com/pitchdeck/20                   20621
32        http://example.com/pitchdeck/32                   21364
...                                   ...                     ...
12379  http://example.com/pitchdeck/12379                   23865
12381  http://example.com/pitchdeck/12381                   56192
12405  http://example.com/pitchdeck/12405                   70885
12406  http://example.com/pitchdeck/12406                   66922
12409  http://example.com/pitchdeck/12409                   35473

         Competitors Patents  ESG_Score Diversity_Index Net_Impact_Score
1      Competitor_66      17       2.50           43.19             5.03
6      Competitor_94       2       6.06           61.46             2.06
8      Competitor_59      20       9.80           44.77             6.37
20     Competitor_50       5       6.52           35.25             1.97
32     Competitor_26      18       4.00           70.42             6.17
...              ...     ...        ...             ...              ...
12379  Competitor_16      17       4.16           29.36             1.53
12381  Competitor_11       0       6.20           52.47             8.51
12405  Competitor_93       0       7.09           27.99             8.61
12406  Competitor_21      19       9.74           22.39             3.23
12409  Competitor_91      17       1.02           39.56             8.92

[2401 rows x 32 columns]

In [4]:
import numpy as np

import pandas as pd
left = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'], 'A': ['A0', 'A1', 'A2', 'A3'],

'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'], 'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']})
# Merging the dataframes
print(pd.merge(left, right, how ='inner', on ='Key'))
# Joining the dataframes
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3']}, index= ['K0', 'K1', 'K2', 'K3'])
right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']}, index= ['K0', 'K1', 'K2', 'K3'])
print(left.join(right))

  Key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3
     A   B   C   D
K0  A0  B0  C0  D0
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2
K3  A3  B3  C3  D3

In [9]:
import numpy as np
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/Adidas_Data.csv')  # Ensure the file is uploaded
print("Dataset Preview:\n", df.head())

# Descriptive statistics (numeric columns only)
print("\nMean:\n", df.mean(numeric_only=True))
print("\nCount:\n", df.count())
print("\nMedian:\n", df.median(numeric_only=True))
print("\nSum:\n", df.sum(numeric_only=True))

# âœ… Fix: Calculate Mean Absolute Deviation (MAD) manually
mad_values = df.select_dtypes(include=[np.number]).apply(lambda x: np.mean(np.abs(x - np.mean(x))))
print("\nMean Absolute Deviation (MAD):\n", mad_values)

print("\nStandard Deviation (STD):\n", df.std(numeric_only=True))
print("\nVariance:\n", df.var(numeric_only=True))

Dataset Preview:
          Date  Adj_Close    Close     High        Low     Open  Volume
0  2006-05-31  19.954313  24.9625  24.9750  24.962500  24.9625   28000
1  2006-06-01  19.834412  24.8125  24.8125  24.812500  24.8125    1600
2  2006-06-02  20.214109  25.2875  25.2875  25.250000  25.2875    1600
3  2006-06-05  20.184134  25.2500  25.2500  25.250000  25.2500    2000
4  2006-06-06  19.534645  24.4375  24.6500  24.075001  24.4375   10400

Mean:
 Adj_Close       69.311244
Close           73.874483
High            74.375260
Low             73.303073
Open            73.849084
Volume       60613.336183
dtype: float64

Count:
 Date         4679
Adj_Close    4679
Close        4679
High         4679
Low          4679
Open         4679
Volume       4679
dtype: int64

Median:
 Adj_Close       49.055298
Close           55.500000
High            55.740002
Low             55.000000
Open            55.389999
Volume       31200.000000
dtype: float64

Sum:
 Adj_Close    3.243073e+05
Close        3.456587e+05
High         3.480018e+05
Low          3.429851e+05
Open         3.455399e+05
Volume       2.836098e+08
dtype: float64

Mean Absolute Deviation (MAD):
 Adj_Close       41.734609
Close           41.357157
High            41.625309
Low             41.055458
Open            41.363741
Volume       51347.890620
dtype: float64

Standard Deviation (STD):
 Adj_Close        47.241404
Close            47.156565
High             47.435302
Low              46.832085
Open             47.163218
Volume       102978.972903
dtype: float64

Variance:
 Adj_Close    2.231750e+03
Close        2.223742e+03
High         2.250108e+03
Low          2.193244e+03
Open         2.224369e+03
Volume       1.060467e+10
dtype: float64